@model FinalProject.Vm.CategoryVm;
<!-- horizontal Basic Forms Start -->
<div class="pd-20 card-box mb-30">

    <form method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label>Categories</label>
            <input asp-for="Name" class="form-control" type="text" placeholder="Name">
        </div>


        <div class="form-group">
            <label>Parent</label>
            <select class="form-control" asp-items="@ViewBag.ListParentCategories" asp-for="ParentId">
                <option selected="">Select Parent</option>
            </select>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>Short Description</label>
            <textarea asp-for="ShortDescription" class="form-control"></textarea>
        </div>




        <div class="form-group">
            @if (Model.Images.Count > 0)
            {
                foreach (var image in Model.Images)
                {
                    <div>
                        <div><a href="@Url.ActionLink("DeleteImage", "Categories", new { fileName=image})"></a></div>
                        <img src="~/uploads/Categories/@(image).png">
                    </div>
                }
            }
            <label>Image</label>
            <input name="files" type="file" class="form-control-file form-control height-auto" multiple="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </form>

</div>
<!-- horizontal Basic Forms End -->
